<h1>DBZ Personajes</h1>
<hr>

<div class="row">

  <div class="col">
    <h4>Listado</h4>

    <ul class="list-group">
      <li class="list-group-item">Goku - 10000</li>
      <li class="list-group-item"> Vegetta - 8000</li>
      <li class="list-group-item">Piccolo - 3000</li>
    </ul>

  </div>

  <div class="col">
    <h4>Añadir Personaje</h4>
    <form action="" class="row">

      <input type="text" name="" id="" class="form-control mb-2" placeholder="Nombre">
      <input type="number" name="" id="" class="form-control mb-2" placeholder="Poder">
      <button class="btn btn-primary">Añadir</button>
    </form>
  </div>

</div>
